*~
*.pyc
src/bigoquiz/config_google_oauth2_credentials_secret.json
src/bigoquiz/config_google_oauth2_credentials_secret.json.backup
src/bigoquiz/config_google_oauth2_credentials_secret.json.local
src/bigoquiz/config.json
