name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24
      id: go

    - name: Check out
      uses: actions/checkout@v5

    - name: Build
      run: make

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v3'
      with:
        version: '>= 363.0.0'
        install_components: 'alpha,cloud-datastore-emulator'

    - name: Test
      run: |
        make full-test

    - name: Store test coverage report as artifact
      uses: actions/upload-artifact@master
      with:
        name: Test Coverage
        path: coverage.html
