on:
  # Lets us manually request a Deployment via the GitHub "Actions" tab
  workflow_dispatch

name: Deploy to Google App Engine (Production)

jobs:
  deploy:
    # This gives this GitHub Action access to the GitHub Secrets in this environment.
    #
    # Then see the [deployed versions in
    # AppEngine](https://console.cloud.google.com/appengine/versions?serviceId=api&project=bigoquiz).
    environment: production
    runs-on: ubuntu-latest

    # Add "id-token" with the intended permissions.
    # (Needed by google-github-actions/auth step.)
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: 'Google Cloud Auth'
        id: 'google-cloud-auth'
        uses: 'google-github-actions/auth@v3'
        with:
          project_id: 'bigoquiz'
          workload_identity_provider: 'projects/710014864852/locations/global/workloadIdentityPools/github/providers/my-repo'
          service_account: 'github-deploy-actions@bigoquiz.iam.gserviceaccount.com'

      # Write secret config files, for use during the build/deploy, retrieving
      # them from the GitHub Secrets system via environment variables that are
      # then echoed to files .
      - name: Get Config
        id: get-config
        run: |
          echo "$SECRET_CONFIG" > config.json
          echo "$SECRET_CONFIG_OAUTH2_FACEBOOK" > config_oauth2/facebook_credentials_secret.json
          echo "$SECRET_CONFIG_OAUTH2_GITHUB" > config_oauth2/github_credentials_secret.json
          echo "$SECRET_CONFIG_OAUTH2_GOOGLE" > config_oauth2/google_credentials_secret.json
        env:
          SECRET_CONFIG: ${{ secrets.CONFIG }}
          SECRET_CONFIG_OAUTH2_FACEBOOK: ${{secrets.CONFIG_OAUTH2_FACEBOOK }}
          SECRET_CONFIG_OAUTH2_GITHUB: ${{secrets.CONFIG_OAUTH2_GITHUB }}
          SECRET_CONFIG_OAUTH2_GOOGLE: ${{secrets.CONFIG_OAUTH2_GOOGLE }}

      - name: Deploy to App Engine
        id: deploy
        uses: google-github-actions/deploy-appengine@v3.0.1
        with:
          deliverables: app.yaml
          project_id: bigoquiz

      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}
