on:
  # Lets us manually request a Deployment via the GitHub "Actions" tab
  workflow_dispatch

name: Deploy to Google App Engine (Production)

jobs:
  deploy:
    # This gives this GitHub Action access to the GitHub Secrets in this environment.
    #
    # Then see the [deployed versions in
    # AppEngine](https://console.cloud.google.com/appengine/versions?serviceId=api&project=bigoquiz).
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # Write secret config files, for use during the build/deploy, retrieving
      # them from the GitHub Secrets system via environment variables that are
      # then echoed to files .
      - name: Get Config
        id: get-config
        run: |
          echo "$SECRET_CONFIG" > config.json
          echo "$SECRET_CONFIG_OAUTH2_FACEBOOK" > config_oauth2/facebook_credentials_secret.json
          echo "$SECRET_CONFIG_OAUTH2_GITHUB" > config_oauth2/github_credentials_secret.json
          echo "$SECRET_CONFIG_OAUTH2_GOOGLE" > config_oauth2/google_credentials_secret.json
        env:
          SECRET_CONFIG: ${{ secrets.CONFIG }}
          SECRET_CONFIG_OAUTH2_FACEBOOK: ${{secrets.CONFIG_OAUTH2_FACEBOOK }}
          SECRET_CONFIG_OAUTH2_GITHUB: ${{secrets.CONFIG_OAUTH2_GITHUB }}
          SECRET_CONFIG_OAUTH2_GOOGLE: ${{secrets.CONFIG_OAUTH2_GOOGLE }}

      - name: Deploy to App Engine
        id: deploy
        uses: google-github-actions/deploy-appengine@v0.2.0
        with:
          deliverables: app.yaml
          project_id: bigoquiz

          # This key is stored in GitHub Secrets
          #
          # after generating it like so:
          # (see https://cloud.google.com/iam/docs/creating-managing-service-account-keys
          # and https://github.com/google-github-actions/deploy-appengine/blob/main/README.md#authorization )
          # $ gcloud iam service-accounts keys create ~/key.json --iam-account github-deploy-actions@bigoquiz.iam.gserviceaccount.com
          # $ gcloud projects add-iam-policy-binding bigoquiz --member='serviceAccount:github-deploy-actions@bigoquiz.iam.gserviceaccount.com' --role='roles/appengine.appAdmin'
          # $ gcloud projects add-iam-policy-binding bigoquiz --member='serviceAccount:github-deploy-actions@bigoquiz.iam.gserviceaccount.com' --role='roles/compute.storageAdmin'
          # $ gcloud projects add-iam-policy-binding bigoquiz --member='serviceAccount:github-deploy-actions@bigoquiz.iam.gserviceaccount.com' --role='roles/iam.serviceAccountUser'
          # $ gcloud projects add-iam-policy-binding bigoquiz --member='serviceAccount:github-deploy-actions@bigoquiz.iam.gserviceaccount.com' --role='roles/cloudbuild.builds.editor'
          #
          # and (see https://github.com/google-github-actions/deploy-appengine/pull/18 )
          # $ gcloud projects add-iam-policy-binding bigoquiz --member='serviceAccount:github-deploy-actions@bigoquiz.iam.gserviceaccount.com' --role='roles/storage.objectAdmin'
          credentials: ${{ secrets.GCP_SA_KEY }}

      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}
