{
   "web":{
      "client_id":"REPLACE_THIS",
      "project_id":"bigoquiz",
      "auth_uri":"https://github.com/login/oauth/authorize",
      "token_uri":"https://github.com/login/oauth/access_token",
      "client_secret":"REPLACE_THIS",
      "redirect_uris":[
         "http://localhost:8080/login/callback-github"
      ],
      "javascript_origins":[
         "http://bigoquiz.com",
         "https://beta.bigoquiz.com",
         "http://localhost:8080"
      ]
   }
}
